* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Dynamic Classes */
.hide {
  display: none;
}

.show {
  display: block;
}

/* Login and Sign Up Styles */
.login-container,
.sign-up-container {
  margin-top: 5%;
}
.login-image-container,
.sign-up-image-container {
  padding-right: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}
.login-form,
.sign-up-form {
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
  /* background: rgb(231, 225, 225); */
  /* box-shadow: 3px 3px 10px; */
}
.login-title,
.sign-up-title {
  margin-bottom: 4%;
}
.label {
  font-weight: normal;
}
.input-requirements {
  padding-left: 5%;
  font-size: 0.75rem;
  font-style: italic;
  text-align: left;
  list-style: disc;
  list-style-position: inside;
  margin: 10px auto;
  color: rgb(150, 150, 150);
}
.submit-button {
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  outline: none;
  margin-top: 5%;
}
.redirect {
  text-align: center;
  margin-top: 8%;
}

/* Promo Page Style */
/* Landing Page */
.bg-gradiant {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(#40f5ff, #ff87ff);
  padding-left: 5%;
}
.perfect {
  font-family: Raleway, sans-serif;
  font-size: 50px;
  margin-top: 15%;
  color: white;
  padding: 0;
}
.search-form {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.search-input {
  height: 50px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.search-button {
  width: 10%;
  outline: none;
  border: transparent;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* Landing Page */

/* How it works Section */
.how-it-works-container {
  margin-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 10%;
}
.circle-section {
  font-family: Yusei Magic, sans-serif;
  font-weight: 400;
  margin-top: 8%;
  margin-bottom: 5%;
}
.icon_rep {
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 120px;
  background-color: rgba(128, 128, 128, 0.205);
  margin-bottom: 30px;
  border: transparent black;
  box-shadow: 1px 1px 1px;
  padding: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.icons {
  display: flex;
  flex-direction: column;
}
.icons h4 {
  text-align: center;
}
.icons p {
  text-align: center;
}
/* How it works Section */

/* Explore Section */
.explore-container {
  /* padding-left: 2%;
  padding-right: 2%; */
  padding-top: 3%;
  padding-bottom: 3%;
  margin-bottom: 10%;
  background-color: rgba(64, 245, 255, 0.2);
}
.explore-title {
  margin-bottom: 5%;
}
.explore-inner {
  margin-top: 6%;
}
.explore-catagories {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.explore-images {
  width: 50px;
}
.card-deck {
  margin-top: 200px;
}
.illustration {
  width: 100%;
}
.app {
  margin-top: 100px;
  padding: 64px 32px;
}
.app-title {
  font-family: Raleway, sans-serif;
  font-weight: 600;
}

.content {
  margin-top: 100px;
}
.miss-title {
  font-family: Raleway, sans-serif;
}
.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}
.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border: solid black;
}
.home-section.wg-experience .card-body {
  padding: 0.5rem;
}
.m-2 .border.exp-fill {
  border-radius: 100%;
  border: solid black;
}
/* counter up*/
.one{
  padding-top: 120px;
}
.one .container{
  z-index: 10;
  position: relative;
}
.single{
  box-shadow: 0px 20px 60px 0px rgba(42, 40, 51, 0.05);
  width: 220px;
  height: 220px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
}
.single::before{
  content: '';
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  border-radius: 50%;
  background-image: linear-gradient(#40f5ff, #ff87ff);
}
.inner{
  width: 100%;
  height: 100%;
  box-shadow: 0px 20px 40px 0px rgba(255, 118,142, 0.3);
  border-radius: 50%;
  position: relative;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.inner h3,.inner p{
  margin: 0;
}
.inner h3{
  color: #3aabab;
  font-weight: 600;
  font-size: 40px;
  line-height: 1em;
}
.inner p{
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 12px;
  font-weight: 500;
  color: #3aabab;
  line-height: 1em;
  margin-top: 10px;
}
.gap{
  width: 50%;
  margin: 0 auto;
  margin-top: 5%;
  font-weight: 400;
}
.btn-danger{
  background-image: linear-gradient(#40f5ff, #ff87ff);
  padding: 15px 40px;
  border: none;
  border-radius: 50px;
}
