* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Dynamic Classes */
.hide {
  display: none;
}

.show {
  display: block;
}

/* Promo Page Style */

/* Navigation Section */
.navbar {
  background-color: black !important;
}
.nav-bar-transparent {
  background: none !important;
  background-color: none !important;
}
.bg-white {
  background: transparent !important;
  transition: 0.5s ease;
}
.bg-white.scrolled {
  background: white !important;
}
.navbar-nav {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-brand {
  width: 160px;
}
.nav-link {
  font-size: 20px;
  padding: 0;
  text-transform: capitalize;
  text-decoration: none;

  font-weight: 600;
  letter-spacing: 1px;
}
.nav-link-transparent {
  color: black !important;
}

.sign-up-item {
  content: "";
  border: 0.5px solid black;
  padding: 0.5%;
}
/* Landing Page */

.perfect {
  font-family: Raleway, sans-serif;
  font-size: 50px;
  margin-top: 15%;
  color: black;
  padding: 0;
  margin-left: 320px;
  margin-bottom: 25px;
  border: rgba(64, 245, 255, 0.4) solid 10px;
}
.perfect h1{
  font-weight: 900;
  font: bold;
  padding-left: 100px;
}
.search-form {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  margin-left: 320px;
}
.search-input {
  height: 50px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.search-button {
  width: 10%;
  outline: none;
  border: transparent;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* Landing Page */

/* How it works Section */
.how-it-works-container {
  margin-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 10%;
}
.circle-section {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  margin-top: 8%;
  margin-bottom: 5%;
}
.icon_rep {
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 120px;
  background-color: rgba(128, 128, 128, 0.205);
  margin-bottom: 30px;
  border: transparent black;
  box-shadow: 1px 1px 1px;
  padding: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.icons {
  display: flex;
  flex-direction: column;
  transition: 5s all;
  -webkit-transition: 5s all;
  -moz-transition: 5s all;
  -ms-transition: 5s all;
  -o-transition: 5s all;
}
.icons h4 {
  text-align: center;
}
.icons p {
  text-align: center;
}
/* How it works Section */

/* Explore Section */
.explore-container {
  /* padding-left: 2%;
  padding-right: 2%; */
  padding-top: 3%;
  padding-bottom: 3%;
  margin-bottom: 10%;
  background-color: rgba(64, 245, 255, 0.2);
}
.explore-title {
  margin-bottom: 5%;
  font-family: Raleway, sans-serif;
}
/* .explore-inner {
  margin-top: 6%;
} */
.explore-catagories {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.explore-images {
  width: 50px;
}
.explore-description {
  text-decoration: none;
  color: black;
  text-align: center;
}
/* .card-deck {
  margin-top: 200px;
} */

/* About Us Page */
.illustration {
  width: 100%;
}
.app {
  margin-top: 5%;
}
.app-title {
  font-family: Raleway, sans-serif;
  font-weight: 600;
}

.content {
  margin-top: 9%;
}

.acheivements-page-inner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.single {
  box-shadow: 0px 20px 60px 0px rgba(42, 40, 51, 0.05);
  width: 220px;
  height: 220px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
}
.single::before {
  content: "";
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  border-radius: 50%;
  
}

.inner {
  width: 100%;
  height: 100%;
  box-shadow: 0px 20px 40px 0px rgba(255, 118, 142, 0.3);
  border-radius: 50%;
  position: relative;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.inner h3,
.inner p {
  margin: 0;
}
.inner h3 {
  color: #3aabab;
  font-weight: 600;
  font-size: 40px;
  line-height: 1em;
}
.inner p {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 12px;
  font-weight: 500;
  color: #3aabab;
  line-height: 1em;
  margin-top: 10px;
}
.gap {
  width: 50%;
  margin: 0 auto;
  margin-top: 5%;
  font-weight: 400;
}
.btn-danger {
  background-color: black;
  color: aqua;
  padding: 15px 40px;
  border: none;
  border-radius: 50px;
  margin-bottom: 30px;
  font-size: 20px;
}
.c-title {
  font-family: Raleway, sans-serif;
  margin-bottom: 50px;
}
/* About Page */
/*vertical line*/
.vl {
  border-left: 1px solid;
  height: 100px;
}
/* .miss-title {
  font-family: Raleway, sans-serif;
  background-color: yellow;
} */
/* .badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
} */
/* .badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border: solid black;
} */
/* .home-section.wg-experience .card-body {
  padding: 0.5rem;
} */
/* .m-2 .border.exp-fill {
  border-radius: 100%;
  border: solid black;
} */
/* counter up*/

/* .one .container {
  z-index: 10;
  position: relative;
} */
/*profile page css*/
.profile-card {
  width: 400px;
  margin: auto;
  background: #fff;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
}
.pro-ic {
  color: #3aabab;
  margin-right: 15px;
  margin-left: 10px;
}
.pro-name {
  color: #3aabab;
  text-align: center;
}
.progress {
  color: #3aabab;
  border-radius: 16px;
}
.progress-bar {
  padding: 0.1em 16px;
  border-radius: 16px;
  text-align: center;
  color: #fff;
  background-color: rgba(#3aabab, 0, 0, 1);
}
/*Footer Section */
.footer-social-icons {
  fill: rgba(0, 0, 0, 0.65);
}
.footer {
  padding-left: 3%;
  padding-right: 3%;
  margin-left: 4%;
  margin-right: 4%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 2%;
  padding-top: 2%;
}
.footer-bottom-container {
  display: flex;
  justify-content: space-between;
}
.socials-container {
  display: flex;
  justify-content: space-between;
  width: 15%;
}

/* Login and Sign Up Styles */
.login-container,
.sign-up-container {
  margin-top: 5%;
}
.login-image-container,
.sign-up-image-container {
  padding-right: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}
.login-form,
.sign-up-form {
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
  /* background: rgb(231, 225, 225); */
  /* box-shadow: 3px 3px 10px; */
}
.login-title,
.sign-up-title {
  margin-bottom: 4%;
}
.label {
  font-weight: normal;
}
.input-requirements {
  padding-left: 5%;
  font-size: 0.75rem;
  font-style: italic;
  text-align: left;
  list-style: disc;
  list-style-position: inside;
  margin: 10px auto;
  color: rgb(150, 150, 150);
}
.submit-button {
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  outline: none;
  margin-top: 5%;
}
.redirect {
  text-align: center;
  margin-top: 8%;
}

/* Seller Home Page Styles */
.navbar {
  background-color: none;
}

.page-wrapper {
  margin-top: 2%;
  width: 100%;
  padding: 0;
}
.no-support-device {
  display: none;
}
.inner-page-wrapper {
  background-color: rgba(64, 245, 255, 0.2);
  width: 100%;
  padding: 2%;

  margin: 0;
}
.welcome-card {
  padding-left: 2%;
  padding-right: 2%;
  margin-right: 4%;
  box-shadow: 2px 8px 6px -6px rgba(0, 0, 0, 0.644);
}
.welcome-card-greeting {
  font-size: 20px;
  margin-bottom: 0;
}

.welcome-card-time {
  font-size: 65px;
}

.welcome-card-quote {
  font-size: 16px;
  text-align: start;
}
.welcome-card-quote-person {
  font-size: 14px;
  text-align: start;
}
.welcome-statistics-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.welcome-statistics {
  font-size: 28px;
  font-weight: 300;

  text-align: center;
}
.welcome-statstics-main {
  font-size: 40px;
}
.cards-container {
  padding-left: 4%;
  padding-right: 4%;
  margin-bottom: 5%;
}
.job-box-titles {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 0.65%;
  margin-top: 3%;
}
.single-job-box {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 3%;
  text-align: start;
}
.job-box-header {
  font-size: 22px;
  font-weight: 400;
}
.job-box-sub-header {
  font-style: italic;
  font-style: 12px;
}
.job-box-description {
  margin-top: 2%;
  font-size: 18px;
}
.job-box-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 7%;
  padding-right: 7%;

  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.job-pricing-container {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}
.job-pricing-container-price {
  font-size: 22px;
  font-weight: 400;
}
.carousel-control-prev {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}
.carousel-control-next {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
}
.carousel-control-next,
.carousel-control-prev {
  box-shadow: 0 8px 6px -6px black;
  background-color: rgba(128, 128, 128, 0.3);
  height: 30px;
  width: 30px;
  margin: auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fa-chevron-right,
.fa-chevron-left {
  color: black;
}
/* Seller Home Page */
/* No Support Screen Sizes */
@media screen and (min-width: 100px) and (max-width: 349px) {
  .no-support-device {
    display: inline;
    text-align: center;
  }
  .page-wrapper,
  .navbar,
  .bg-gradiant,
  .how-it-works-container,
  .explore-container,
  .app,
  .acheivements-page-wrapper,
  .footer {
    display: none;
  }
}

/* Xs Query */
@media screen and (min-width: 349px) and (max-width: 576px) {
  /* body {
    background-color: salmon;
  } */
  /* Navigation */
  .navbar {
    background-color: white !important;
  }
  .navbar-brand {
    width: 130px;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 30vh;
    margin-top: 6%;
  }
  .nav-link {
    font-size: 16px;
    padding-right: 5%;
    color: black !important;
    font-weight: 400;
    letter-spacing: 0.5px;
    pointer-events: none;
  }
  /* Navigation */

  /* Landing Page */
  .bg-gradiant {
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding-left: 5%;
    padding-right: 5%;
  }
  .perfect {
    font-size: 32px;
  }
  /* Explore Page */
  .explore-images {
    width: 45px;
  }
  .explore-description {
    font-size: 12px;
  }
  /* Explore Page */

  /* About Page */
  .gap {
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
    font-weight: 400;
  }
  /* Landing Page */
  .welcome-card {
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 2%;
    margin-bottom: 3%;
  }
  .welcome-card-greeting {
    font-size: 16px;
  }
  .welcome-card-time {
    font-size: 40px;
  }
  .welcome-card-quote {
    font-size: 14px;
  }
  .welcome-card-quote-person {
    font-size: 12px;
    text-align: start;
  }
  .welcome-statstics-main-container {
    padding-left: 0;
    padding-right: 0;
  }
  .welcome-statistics-container {
    padding-left: 0;
    padding-right: 0;
  }
  .welcome-statistics-card {
    margin-left: 0%;
    width: 100%;
  }
  .welcome-statistics {
    font-size: 18px;
    padding-bottom: 3%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding-left: 0;
    padding-right: 0;
  }
  .welcome-statstics-main {
    font-size: 25px;
    font-weight: 500;
  }
  .job-box-titles {
    font-size: 22px;

    margin-top: 5%;
  }
  .job-box-header {
    font-size: 18px;
    font-weight: 400;
  }
  .job-box-sub-header {
    font-size: 10px;
  }
  .job-box-description {
    font-size: 14px;
  }
  .job-box-container {
    padding-left: 0.5%;
    padding-right: 0.5%;
  }
  .job-pricing-container {
    font-size: 14px;
    font-weight: 300;
    text-transform: capitalize;
  }
  .job-pricing-container-price {
    font-size: 18px;
    font-weight: 300;
  }

  .carousel-control-prev {
    transform: translateX(-60%);
    -webkit-transform: translateX(-60%);
    -moz-transform: translateX(-60%);
    -ms-transform: translateX(-60%);
    -o-transform: translateX(-60%);
    height: 20px;
    width: 20px;
  }
  .carousel-control-next {
    transform: translateX(60%);
    -webkit-transform: translateX(60%);
    -moz-transform: translateX(60%);
    -ms-transform: translateX(60%);
    -o-transform: translateX(60%);
    height: 20px;
    width: 20px;
  }
  /* .footer {
    display: none;
  } */
  .socials-container {
    width: 35%;
  }
}
/* S Query */
@media screen and (min-width: 577px) and (max-width: 768px) {
}
/* Md Query */
@media screen and (min-width: 769px) and (max-width: 992px) {
}
/* Lg Query */
@media screen and (min-width: 993px) and (max-width: 1200px) {
}
/* XL Query */
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}
/* XXL Query */
@media screen and (min-width: 1401px) {
}
